:root {
    --grey: #f8f6f6;
    --gray-bg: rgb(239, 239, 239);
    --white: #fff;
    --blue-light: #0095f6;
    --blue-light-x: rgba(0, 148, 246, 0.486);
}

.btn-primary{
    background-color: var(--blue-light) !important;
    border-color: var(--blue-light) !important;
}

.btn-outline-primary{
    color: var(--blue-light) !important;
    background-color: var(--white);
}

.btn-outline-primary:hover{
    background-color: var(--blue-light) !important;
    color: var(--white) !important;
}

.bg-primary{
    background-color: var(--blue-light) !important;
}

.text-primary{
    color: var(--blue-light) !important;
}

.bg-gray {
    background-color: var(--grey) !important;
}

.bg-light {
    background-color: var(--white) !important;
}

a {
    color: var(--blue-light);
}

/* * NAVBAR ------------------------- */

.navbar{
    min-height: 50px;
}

.logo{
    width: 120px;
}

.lead{
    font-size: 1.8rem !important;
}

.buscador-container{
    max-width: 400px;
}

.buscador{
    padding-left: 35px;
    background-color: var(--gray-bg); border-radius: 10px;
}

.lupa{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.registrar{
    font-size: .9em;
}

.registrar .nav{
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav__container-img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    overflow: hidden;
    background-image: url("../img/IMG_20211123_095135.jpg");
    background-size: cover;
    background-position: center center;
    padding: 0 !important;
}

/* * Main -------------------------- */

.py-6{
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.card-img-profile{
    background-position: center center;
    background-size: cover;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}

.card-img-profile-1{
    background-image: url("/img/person-1.jpg");
}

.card-img-profile-2{
    background-image: url("/img/person-2.jpg");
}

.card-img-profile-3{
    background-image: url("/img/person-3.jpg");
}

.card-img-profile-4{
    background-image: url("/img/IMG_20211123_095135.jpg")
}

.card-img-profile-sub{
    width: 2.5rem;
    height: 2.5rem;
}

.card-body .far, .user-link{
    transition: opacity 350ms;
}

.card-body .far:hover, .card-body .fas:hover, .user-link:hover{
    opacity: .6;
    cursor: pointer;
}

.img-profiles{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

.add-coment{
    outline-color: var(--blue-light-x) !important;
}


/* * lado derecho ------------------------------- */

.stories-container{
    font-size: .8em;
    height: 200px;
    overflow-y: auto;
}

.segir{
    justify-self: flex-end;
}

.sugerencias{
    font-size: .8em;
}